<div class="row m-0 d-flex justify-content-around">
    <div class="col-sm-5 my-5">
        <div class="card">
            <img src="https://wallpapercave.com/wp/0pMys4b.jpg" class="card-img-top" alt="error loaded image">
            <div class="card-body">
                <h5 class="card-title">User Dashboard</h5>
                <p class="card-text">Quản Lý User Dashboard</p>
                <a href="./user" class="btn btn-primary">Go User Dashboard</a>
            </div>
        </div>
    </div>
    <div class="col-sm-5 my-5">
        <div class="card">
            <img src="https://wallpapercave.com/wp/0pMys4b.jpg" class="card-img-top" alt="error loaded image">
            <div class="card-body">
                <h5 class="card-title">Product Dashboard</h5>
                <p class="card-text">Quản Lý User Dashboard</p>
                <a href="./product" class="btn btn-primary">Go Product Dashboard</a>
            </div>
        </div>
    </div>
    <div class="col-sm-5 my-5">
        <div class="card">
            <img src="https://wallpapercave.com/wp/0pMys4b.jpg" class="card-img-top" alt="error loaded image">
            <div class="card-body">
                <h5 class="card-title">Category Dashboard</h5>
                <p class="card-text">Quản Lý Category Dashboard</p>
                <a href="./Category" class="btn btn-primary">Go Category Dashboard</a>
            </div>
        </div>
    </div>
</div>