<!-- <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="./Dashboard"><%= title %></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header row">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Đặng Trường Sơn</h5>
                <img src="/images/avt.png" class="avt ms-4" alt="">
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./Dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="./User">User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="./Product">Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="./Category">Category</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav> -->

<nav class="navbar fs-5 navbar-expand-lg bg-body-tertiary  bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./Dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="./User">User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " aria-current="page" href="./Product">Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " aria-current="page" href="./Category">Category</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>