<article>
    <div class="container-fluid">
        <header>
            <div style="font-size: 30px;font-weight: 500;text-align: center;">
                Category dashboard
            </div>
        </header>
        <div class="row"
            style="margin-top: 40px;position: relative;display:flex !important;justify-content: center !important;">
            <table class="table fs-5" style="width: 60%; padding: 100px;">
                <thead>
                    <tr>
                        <td scope="col"><a class="hoverSort" href="/Category?sort=_id">ID</a></td>
                        <td scope="col"><a class="hoverSort" href="/Category?sort=Name">Category</a></td>
                        <td scope="col" class="text-center">Action</td>
                    </tr>
                </thead>
                <tbody>
                    <% Category.forEach(row=> {%>
                        <tr class="align-middle">
                            <td>
                                <%= row._id %>
                            </td>
                            <td>
                                <%= row.Name %>
                            </td>
                            <td class='text-center'>
                                <button onclick="editCateGory('<%= row._id %>')" type="button" class="btn btn-primary"
                                    data-bs-toggle="modal" data-bs-target="#EditModal">Edit</button>
                                <button type="button" class="btn btn-primary" onclick="deleteCateGory('<%= row._id %>')"
                                    data-bs-toggle="modal" data-bs-target="#DeleteModal">Delete</button>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</article>
<script>
    const deleteCateGory = (_id) => {
        document.getElementById("href_id").href = "/category/delete/" + _id;
    }
    const editCateGory = (_id) => {
        document.getElementById("Form_Edit").action = "/Category/edit/" + _id;
    }
</script>