<!--Edit Modal -->
<div class="modal fade" id="FilterModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Filter Product</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name Product</label>
                <input type="text" class="form-control User"  id="nameProduct" placeholder="Cake ...">
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" onclick="filterProduct()" class="btn" data-bs-dismiss="modal"><a class="btn btn-primary" id="href_filter"
              href="#">Filter</a></button>
        </div>
      </div>
    </div>
  </div>
  <script>
    const filterProduct = () => {
      var Name = document.getElementById('nameProduct').value;
      if(Name.length==0){
        document.getElementById("href_filter").href = "/product";
      } else{
        document.getElementById("href_filter").href = "/product?Name=" + 	Name;
      }
      console.log(Name);
    }
  </script>